@model onlinesms.Models.professionaldetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>professionaldetail</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
</head>
<body>
    @if (Session["Professional"] == null)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <br />
        <br />
        <h4>Professional Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.prof_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prof_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.prof_qualification, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_qualification, new { htmlAttributes = new { @class = "input", @placeholder = "Qualification" } })
                @Html.ValidationMessageFor(model => model.prof_qualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.prof_school, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_school, new { htmlAttributes = new { @class = "input", @placeholder = "Schooling" } })
                @Html.ValidationMessageFor(model => model.prof_school, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.prof_college, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_college, new { htmlAttributes = new { @class = "input", @placeholder = "College" } })
                @Html.ValidationMessageFor(model => model.prof_college, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.prof_status, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_status, new { htmlAttributes = new { @class = "input", @placeholder = "Status" } })
                @Html.ValidationMessageFor(model => model.prof_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.prof_organiztion, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_organiztion, new { htmlAttributes = new { @class = "input", @placeholder = "Organization" } })
                @Html.ValidationMessageFor(model => model.prof_organiztion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.prof_designation, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.prof_designation, new { htmlAttributes = new { @class = "input", @placeholder = "Designation" } })
                @Html.ValidationMessageFor(model => model.prof_designation, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.user_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }
    }
</body>
</html>
